language: c

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y uuid-dev libjansson-dev libxml2-dev lcov pkg-config

matrix:
  include:
    - compiler: gcc
    - compiler: clang

before_script:  
    - wget https://github.com/cpputest/cpputest.github.io/blob/master/releases/cpputest-3.7.1.tar.gz?raw=true -O /tmp/cpputest.tar.gz
    - tar -xzvf /tmp/cpputest.tar.gz -C /tmp 
    - if [ "$CC" = "clang" ]; then export CXX="clang++"; fi && cd /tmp/cpputest-3.7.1 && ./configure --prefix=/usr && make && sudo make install && cd -
    - git clone -b 2.7 --single-branch https://github.com/akheron/jansson.git jansson-build
    - cd jansson-build
    - cmake -DJANSSON_BUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr . && make
    - sudo make install
    - cd -
    - wget ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz -O /tmp/libffi.tar.gz
    - tar xzf /tmp/libffi.tar.gz 
    - cd libffi*
    - ./configure --prefix=/usr/local && make && sudo make install 
    - cd -
    - mkdir build install

script:
    - cd build
    - cmake -DFFI_LIBRARY=/usr/local/lib/libffi.so -DFFI_INCLUDE_DIR=/usr/local/include -DBUILD_DEPLOYMENT_ADMIN=ON -DBUILD_EXAMPLES=ON -DBUILD_LOG_SERVICE=ON -DBUILD_LOG_WRITER=ON -DBUILD_REMOTE_SERVICE_ADMIN=ON -DBUILD_RSA_DISCOVERY_CONFIGURED=ON -DBUILD_RSA_DISCOVERY_ETCD=ON -DBUILD_RSA_DISCOVERY_SHM=ON -DBUILD_RSA_EXAMPLES=ON -DBUILD_RSA_REMOTE_SERVICE_ADMIN_SHM=ON -DBUILD_RSA_REMOTE_SERVICE_ADMIN_HTTP=ON -DBUILD_REMOTE_SHELL=ON -DBUILD_SHELL=ON -DBUILD_SHELL_TUI=ON -DBUILD_DEVICE_ACCESS=ON -DBUILD_DEVICE_ACCESS_EXAMPLE=ON -DBUILD_FRAMEWORK_TESTS=OFF -DENABLE_CODE_COVERAGE=ON -DENABLE_TESTING=ON -DCMAKE_INSTALL_PREFIX=../install ..
    - make all && make deploy && make install-all
    - export LD_PRELOAD=/usr/local/lib/libffi.so && export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH:`pwd`/utils:`pwd`/framework && make test ARGS="-V" && make coverage

after_success:
    - cd ${TRAVIS_BUILD_DIR}/build
    - gem install coveralls-lcov
    - lcx="lcov --output-file=coverage.info " && for i in `find . -name "*.info.cleaned"`; do lcx+=" --add-tracefile=$i"; done && $lcx && coveralls-lcov --repo-token=9dpeTAjiGoQU5hgXFe0ezk65iu40oc3WY coverage.info
